head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="static/style.css")
  title Minimal YouTube Player
  meta(name="viewport" content="width=device-width, user-scalable=no")
body
  p(id="siteTitle") Minimal YouTube Player
  div(id="inputs")
    input(id="linkInput" onkeydown="onKey()" placeholder="Paste a YouTube link!")
    button(type="button" onclick="search()" id="buttonInput") Search
  script.
    function onKey() {
      let ele = document.getElementById('linkInput');
      if(event.key === 'Enter') {
        let goTo = "/?v="+ele.value
        if (ele.value.startsWith("https://youtu.be/")) {
          goTo = "/?v="+ele.value.substring(17)
        }
        if (ele.value.startsWith("https://www.youtube.com/watch?v=")) {
          goTo = "/?v="+ele.value.substring(32)
        }
        window.location.href = goTo
      }
    }
    function search() {
      let ele = document.getElementById('linkInput');
      let goTo = "/?v="+ele.value
      if (ele.value.startsWith("https://youtu.be/")) {
        goTo = "/?v="+ele.value.substring(17)
      }
      if (ele.value.startsWith("https://www.youtube.com/watch?v=")) {
        goTo = "/?v="+ele.value.substring(32)
      }
      window.location.href = goTo
    }
