head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="static/style.css")
  title Minimal YouTube Player
  meta(name="viewport" content="width=device-width, user-scalable=no")
body
  script.
    0
  p(id="siteTitle") Minimal YouTube Player
  div(id="inputs")
    input(id="linkInput" onkeydown="onKey()" placeholder="Paste a YouTube link!")
    button(type="button" onclick="search()" id="buttonInput") Search
  script.
    function onKey() {
      let ele = document.getElementById('linkInput');
      if(event.key === 'Enter') {
        window.location.href = "/?v="+ele.value
      }
    }
    function search() {
      let ele = document.getElementById('linkInput');
      window.location.href = "/?v="+ele.value
    }
