@font-face {
    font-family: 'Questrial';
    src: url('Questrial-Regular.woff2') format('woff2'),
        url('Questrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.woff2') format('woff2'),
        url('Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0px;
  background-color: rgb(215, 215, 215);
  background-image: url("/static/noise.png");
  word-break: break-all;
  font-family: Cabin;
}
#siteTitle {
  font-family: Questrial;
  font-size: 40px;
  margin: 2px;
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(89, 92, 181);
}
#inputs {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}
#linkInput {
  width: calc(100% - 120px);
  margin-right: 10px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
}
#buttonInput {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
}
#videoContainer {
  background: white;
  padding: 10px;
  width: 1000px;
  max-width: calc(100% - 40px);
  display: block;
  margin: 5px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
#video {
  background-color: black;
  width: 100%;
  border-radius: 6px;
}
#title {
  font-family: Questrial;
  color: rgb(89, 92, 181);
  margin: 0px;
  margin-top: 10px;
  font-size: 40px;
}
#desc {
  white-space: pre-wrap;
  color: rgb(39, 40, 71);
}
#desc a:link {
  color: rgb(39, 40, 71);
}
#desc a:visited {
  color: rgb(39, 40, 71);
}
